PUBLIC_URL=http://localhost:3000
BACKEND_URL=http://localhost:1337
EMAIL_CONFIRMATION_URL="${PUBLIC_URL}/auth/verify-email"
PASSWORD_RESET_URL="${PUBLIC_URL}/auth/reset-password"

# Strapi
HOST=0.0.0.0
PORT=1337
APP_KEYS="your-app-keys-comma-separated"
API_TOKEN_SALT="your-api-token-salt"
ADMIN_JWT_SECRET="your-admin-jwt-secret"
TRANSFER_TOKEN_SALT="your-transfer-token-salt"
JWT_SECRET="your-jwt-secret"

# Database
DATABASE_CLIENT=postgres
DATABASE_HOST=db
DATABASE_PORT=5432
DATABASE_NAME=science_for_africa
DATABASE_USERNAME=akvo
DATABASE_PASSWORD=password
DATABASE_SSL=false

# SMTP
SMTP_HOST=
SMTP_PORT=
SMTP_USERNAME=
SMTP_PASSWORD=
SMTP_FROM=

# Google Cloud Storage
GCS_SERVICE_ACCOUNT=
GCS_BUCKET_NAME=
GCS_BASE_PATH=
GCS_BASE_URL=
GCS_PUBLIC_FILES=
GCS_UNIFORM=

# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Frontend
NEXT_PUBLIC_BACKEND_URL=http://localhost:1337/api
NEXT_PUBLIC_FRONTEND_URL=http://localhost:3000
NEXT_TELEMETRY_DISABLED=1
